<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.seata1.bean.mapper.AccountInfoMapper">

    <resultMap id="BaseResultMap" type="com.joker.seata1.bean.domain.AccountInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="balance" column="balance" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,name,
        balance
    </sql>
</mapper>
